<p>participant-home works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home_hackathon</title>
    <style>
        body{
            text-align: center;
            background-color: aliceblue;
        }
    </style>
</head>
<body>
    <body>
        <h1 style="text-align: center;">Welcome To Hackathon Project Tracker</h1>
        <br><br>
        <h3><a href="add-participant">Add a Participants Details</a></h3><br>
        <h3><a href="view-participant">View Participant Details</a></h3><br>
        
    </body>
</body>
</html>